{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "overrides": [
    {
      "files": "blog/**/*.md",
      "options": {
        "parser": "mdx"
      }
    }
  ]
}
