.aboutPage {
  padding: 2rem 0;
}

.headerBlock {
  text-align: center;
  margin-bottom: 2rem;

  h1 {
    font-size: 18px;
  }
}

.heroBlock {
  text-align: center;
  padding: 4rem 0;
  background-color: var(--ifm-color-gray-800);

  h2 {
    font-size: 2rem;
    margin: 0;
  }
}

.introBlock {
  margin: 4rem auto;
}

.foundersBlock {
  margin: 2rem auto;
  text-align: center;
  display: flexbox;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  .founderCard {
    background-color: var(--ifm-card-background-color);
    margin: 2rem 0rem;
    padding: 2rem 1rem;
    border-radius: var(--ifm-global-radius);
    box-shadow: var(--ifm-global-shadow);
    border: 2px solid var(--ifm-color-gray-800);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    p,
    h2,
    h3 {
      margin: 0;
    }

    .founderImage {
      width: 150px;
      height: 150px;
      border-radius: 15%;
      margin-bottom: 1rem;
      background: white;
    }

    .founderTitle {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .founderSubtitle {
      font-weight: bold;
      color: var(--palette-blue);
    }
  }
}

.contributorsBlock {
  margin: 2rem auto;
  text-align: center;
  display: flexbox;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
}

.founderLinks a {
  color: var(--ifm-color-primary-darker);
  margin: 0 0.5rem;
  transition: color 0.2s;
}

.founderLinks a:hover {
  color: var(--ifm-color-primary);
}
