.blockTitle {
  font-size: var(--ifm-h4-font-size);
  font-weight: var(--ifm-font-weight-semibold);
  line-height: 1.3em;
  margin: 0 0 0.8rem;
  padding: 0 0 0.5rem;
}

.logoThickText {
  color: var(--ifm-color-primary);
  font-weight: var(--ifm-font-weight-bold);
}
